* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #000;
  height: 920px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
}

.section-generator {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 50px;
}

.section-generator h1 {
  font-size: 40px;
  width: 400px;
}

.green {
  color: #4adf86;
}

.desc-txt {
  color: #d8d8d7;
  margin-bottom: 40px;
}

hr {
  align-self: center;
  width: 100%;
  border: 1px solid #273549;
  margin-bottom: 10px;
}

.btn-generate {
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #10b981;
  color: #fff;
  margin-bottom: 10px;
}

.btn-generate:active {
  background-color: #273549;
}

.passwords {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.txt {
  background-color: #273549;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: #4adf86;
}
